
Library/PlayerDataCache/Win64/Data/sharedassets3.assets
Library/PlayerDataCache/Win64/Data/resources.assets.resS
Library/PlayerDataCache/Win64/Data/sharedassets3.assets.resS
Library/PlayerDataCache/Win64/Data/resources.assets.resS
*.resS
